<div id="name" hidden>Orders</div>
<div class="row pl-4 mt-2" style="width:100%;">
    <div class="col">
        {{#if Orders}}
        {{#each Orders}}
        <div class="row align-items-center mt-2 py-2" style="border: 2px solid #dee2e6;background-color: #e3effd;">
            <div class="col-2">
                <figure class="figureIndex rounded mx-auto d-block">
                    <img src="../{{this.basket.book.photoBooks.0.URL}}" class="rounded mx-auto d-block"
                        alt="фото книги!!! ">
                </figure>
            </div>
            <div class="col">
                {{this.basket.book.title}}
            </div>
            <div class="col-3">
                <a href="/seller/{{this.basket.book.idUser}}">{{this.basket.book.user.nickname}}</a>
            </div>
            <div class="col-1" style="margin: 15px;">
                {{this.basket.book.price}}
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="row alert alert-primary">
            <div class="col text-center">
                Ваши заказы пусты. Вы ничего еще не заказывали :-(
            </div>
        </div>
        {{/if}}
    </div>
</div>