{{#each Books}}
<form name="formiModalBook{{this.idBook}}">
    <div class="modal fade" id="ModalMessageBook{{this.idBook}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Уведомление</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Сообщение (почему в черный список)</label>
                    <textarea class="form-control" name="message" rows="3" placeholder="Сообщение"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                        onclick="application('books',{{this.idBook}},false)">Отказать</button>
                </div>
            </div>
        </div>
    </div>
</form>
{{/each}}
{{#each Genres}}
<form name="formiModalGenre{{this.idGenre}}">
    <div class="modal fade" id="ModalMessageGenre{{this.idGenre}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Уведомление</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Сообщение (почему в черный список)</label>
                    <textarea class="form-control" name="message" rows="3" placeholder="Сообщение"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                        onclick="application('genres',{{this.idGenre}},false)">Отказать</button>
                </div>
            </div>
        </div>
    </div>
</form>
{{/each}}
{{#each Authors}}
<form name="formiModalAuthor{{this.idAuthor}}">
    <div class="modal fade" id="ModalMessageAuthor{{this.idAuthor}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Уведомление</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Сообщение (почему в черный список)</label>
                    <textarea class="form-control" name="message" rows="3" placeholder="Сообщение"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                        onclick="application('authors',{{this.idAuthor}},false)">Отказать</button>
                </div>
            </div>
        </div>
    </div>
</form>
{{/each}}
{{#each Publishers}}
<form name="formiModalPublisher{{this.idPublisher}}">
    <div class="modal fade" id="ModalMessagePublisher{{this.idPublisher}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Уведомление</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Сообщение (почему в черный список)</label>
                    <textarea class="form-control" name="message" rows="3" placeholder="Сообщение"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                        onclick="application('publishers',{{this.idPublisher}},false)">Отказать</button>
                </div>
            </div>
        </div>
    </div>
</form>
{{/each}}

<div class="row mt-0">
    <div class="col">
        <h3>Заявки на выставление</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul class="nav nav-tabs" id="tab-example" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="first-tab" data-toggle="tab" role="tab" href="#books"
                    aria-selected="true">Книги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="second-tab" data-toggle="tab" role="tab" href="#genres">Жанры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="second-tab" data-toggle="tab" role="tab" href="#authors">Авторы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="second-tab" data-toggle="tab" role="tab" href="#publishers">Издательства</a>
            </li>
        </ul>

        <div class="tab-content" id="tab-content-example">
            <div class="tab-pane fade show active" id="books" role="tabpanel" aria-labelledby="first-tab">
                <div class="row">
                    <div class="col">
                        <h5>Книги</h5>
                    </div>
                </div>
                {{#if Books}}
                <div class="row  mt-0">
                    <div class="col">
                        {{#each Books}}
                        <div class="row align-items-center mt-2 py-2"
                            style="border: 2px solid #dee2e6;background-color: #e3effd;">
                            <div class="col- ml-2">
                                <figure class="figureBookAdmin rounded mx-auto d-block">
                                    <img src="../{{this.photoBooks.0.URL}}" class="rounded mx-auto d-block"
                                        alt="фото книги ">
                                </figure>
                            </div>
                            <div class="col">
                                {{this.title}}
                            </div>
                            <div class="col-2">
                                {{#each this.authors}}
                                <div class="row">
                                    <div class="col text-center">
                                        {{this.lastName}}
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                            <div class="col">
                                {{#each this.genres}}
                                <div class="row">
                                    <div class="col text-center">
                                        {{this.title}}
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                            <div class="col-xm">
                                <input class="btn btn-primary" type="button" data-toggle="modal"
                                    data-target="#ModalMessageBook{{this.idBook}}" value="Отказать">
                            </div>
                            <div class="col- mx-1">
                                <input class="btn btn-primary" type="button"
                                    onclick="application('books',{{this.idBook}},true)" value="Принять">
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{else}}
                <div class="row alert alert-primary">
                    <div class="col text-center">
                        Нет заявок на выставление книги :-(
                    </div>
                </div>
                {{/if}}
            </div>
            <div class="tab-pane fade show" id="genres" role="tabpanel" aria-labelledby="first-tab">
                <div class="row">
                    <div class="col">
                        <h5>Жанры</h5>
                    </div>
                </div>
                {{#if Genres}}
                <div class="row mt-0">
                    <div class="col">
                        {{#each Genres}}
                        <div class="row align-items-center mt-2 py-2"
                            style="border: 2px solid #dee2e6;background-color: #e3effd;">
                            <div class="col">
                                {{this.title}}
                            </div>
                            <div class="col- mr-2" style="padding:0;">
                                <input class="btn btn-primary" type="button" data-toggle="modal"
                                    data-target="#ModalMessageGenre{{this.idGenre}}" value="Отказать">
                            </div>
                            <div class="col- mr-2">
                                <input class="btn btn-primary" type="button"
                                    onclick="application('genres',{{this.idGenre}},true)" value="Принять">
                            </div>
                            <div class="col- mr-2">
                                <input class="btn btn-primary" type="button" onclick="" value="Изменить">
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{else}}
                <div class="row alert alert-primary">
                    <div class="col text-center">
                        Нет заявок на добавление жанра :-(
                    </div>
                </div>
                {{/if}}
            </div>
            <div class="tab-pane fade show" id="authors" role="tabpanel" aria-labelledby="first-tab">
                <div class="row">
                    <div class="col">
                        <h5>Авторы</h5>
                    </div>
                </div>
                {{#if Authors}}
                <div class="row mt-0">
                    <div class="col">
                        {{#each Authors}}
                        <div class="row align-items-center mt-2 py-2"
                            style="border: 2px solid #dee2e6;background-color: #e3effd;">
                            <div class="col">
                                {{this.lastName}} {{this.name}} {{this.patronymic}}
                            </div>
                            <div class="col- mr-2" style="padding:0;">
                                <input class="btn btn-primary" type="button" data-toggle="modal"
                                    data-target="#ModalMessageAuthor{{this.idAuthor}}" value="Отказать">
                            </div>
                            <div class="col- mr-2">
                                <input class="btn btn-primary" type="button"
                                    onclick="application('authors',{{this.idAuthor}},true)" value=" Принять">
                            </div>
                            <div class="col- mr-2">
                                <input class="btn btn-primary" type="button" onclick="" value="Изменить">
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{else}}
                <div class="row alert alert-primary">
                    <div class="col text-center">
                        Нет заявок на добавление автора :-(
                    </div>
                </div>
                {{/if}}
            </div>
            <div class="tab-pane fade show" id="publishers" role="tabpanel" aria-labelledby="first-tab">
                <div class="row">
                    <div class="col">
                        <h5>Издательства</h5>
                    </div>
                </div>
                {{#if Publishers}}
                <div class="row mt-0">
                    <div class="col">
                        {{#each Publishers}}
                        <div class="row align-items-center mt-2 py-2"
                            style="border: 2px solid #dee2e6;background-color: #e3effd;">
                            <div class="col">
                                {{this.title}}
                            </div>
                            <div class="col- mr-2" style="padding:0;">
                                <input class="btn btn-primary" type="button" data-toggle="modal"
                                    data-target="#ModalMessagePublisher{{this.idPublisher}}" value="Отказать">
                            </div>
                            <div class="col- mr-2">
                                <input class="btn btn-primary" type="button"
                                    onclick="application('publishers',{{this.idPublisher}},true)" value="Принять">
                            </div>
                            <div class="col- mr-2">
                                <input class="btn btn-primary" type="button" onclick="" value="Изменить">
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{else}}
                <div class="row alert alert-primary">
                    <div class="col text-center">
                        Нет заявок на добавление издательства :-(
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>